#header{
    background-color: whitesmoke;
    text-align: center;
    margin: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 2px;
    padding: 0%;
}
#bodystyle {
    background-color: lightgrey;
    margin: 0px;
}

#image {
    width: 50px;
    height: auto;
}

a{
    text-decoration: none;
    color: black;
}
#list {
    display: inline-flex;
    margin-right: 5%;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: whitesmoke;
}

nav{
    align-items: center;
    text-align: center;
}

#course {
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

#crim,
#bsba, #educ, #it, #cs {
    width: 128px;
    height: auto;
    margin-top: 20px;
    border: hidden;
    border-radius: 10px;
}

#CRIM,
#BSBA, #EDUC, #IT, #CS {
    text-align: center;
}